alembic==0.8.7
astroid==1.4.5
asyncio==3.4.3
colorama==0.3.7
Django==1.11
lazy-object-proxy==1.2.2
Mako==1.0.4
MarkupSafe==0.23
Pygments==2.1.3
pylint==1.5.5
pymongo==3.2.2
python-editor==1.0.1
pytz==2016.4
selenium==3.4.1
six==1.10.0
SQLAlchemy==1.0.13
tzlocal==1.2.2
virtualenv==15.0.1
websockets==3.1
wrapt==1.10.8
AdvancedHTMLParser==7.2.0
