<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      My Site Trade page
    </title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="myApp">
    <div ng-controller="TradeController">
      <h1>Record stock transaction</h1>
      <form>
        <div class="form-group">
          <label for="symbol">Symbol:</label>
          <select class="form-control" ng-model="symbol">
            <option ng-repeat="stockInfo in stockInfos"
                    value="{{stockInfo.symbol}}">
              {{stockInfo.symbol}}-{{stockInfo.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input type="text" class="form-control" id="price" ng-model="price">
        </div>
        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input type="text" class="form-control" id="quantity" ng-model="quantity">
        </div>
        <button class="btn btn-default" ng-click="buy()">Buy</button>
        <button class="btn btn-default" ng-click="sell()">Sell</button>
        {{result}}
      </form>
      <br>
      <h1>Record noble metal transaction</h1>
      <form>
        <div class="form-group">
          <label for="nobleMetalSymbol">Symbol:</label>
          <select class="form-control" ng-model="nobleMetalSymbol">
            <option ng-repeat="nobleMetalInfo in nobleMetalInfos"
                    value="{{nobleMetalInfo.symbol}}">
              {{nobleMetalInfo.symbol}}-{{nobleMetalInfo.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="nobleMetalPrice">Price:</label>
          <input type="text" class="form-control" id="nobleMetalPrice"
                 ng-model="nobleMetalPrice">
        </div>
        <div class="form-group">
          <label for="nobleMetalQuantity">Quantity:</label>
          <input type="text" class="form-control" id="nobleMetalQuantity"
                 ng-model="nobleMetalQuantity">
        </div>
        <button class="btn btn-default" ng-click="nobleMetalBuy()">Buy</button>
        <button class="btn btn-default" ng-click="nobleMetalSell()">Sell</button>
        {{nobleMetalResult}}
      </form>
    </div>
  </body>
</html>
    
